@charset "UTF-8";

.Form--container {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.Form--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*background-color: red;*/
}

.Form--title {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    font-size: 15px;
    /*background-color: blue;*/
}

.Form--title h1 {
    font-size: 25px;
}

.Form--clearAll {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 20%;
   /*background-color: green;*/
}   

.Form--clearAll p {
    font-size: rgba(0, 0, 0, 0.4);
    text-decoration: underline rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.Form--fillOut {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
   /* background-color: green;*/
}

.Form--mortgageAmount {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Form--mortgageAmountDIV {
    display: flex;
    width: 100%;
    border: 1px solid var(--Slate700);
    border-radius: 5px;
}

.Form--mortgageAmountIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-weight: 600;
    background-color: var(--Lime);
}

.Form--mortgageAmountInput {
    display: flex;
    width: 90%;
}   

.Form--mortgageAmountInput input {
   width: 100%;
   font-weight: 700;
   padding: 10px;
   border: none;
   background-color: transparent;
}

.Form--mortgageAmountInput input:focus {
    outline: none;
}



.Form--term--rate {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 25px;
}



.Form--term {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 8px;
}

.Form--termDIV {
    display: flex;
    width: 100%;
    border: 1px solid var(--Slate700);
    border-radius: 5px;
}

.Form--termIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-weight: 600;
    background-color: var(--Slate100);
}

.Form--mortgageAmountInput {
    display: flex;
    width: 90%;
}   

.Form--termInput input {
   width: 100%;
   font-weight: 700;
   padding: 10px;
   border: none;
   background-color: transparent;
}

.Form--termInput input:focus {
    outline: none;
}



.Form--rate {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 8px;
}

.Form--rateDIV {
    display: flex;
    width: 100%;
    border: 1px solid var(--Slate700);
    border-radius: 5px;
}

.Form--rateIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-weight: 600;
    background-color: var(--Slate100);
}

.Form--rateInput  {
    display: flex;
    width: 90%;
}   

.Form--rateInput input {
   width: 100%;
   font-weight: 700;
   padding: 10px;
   border: none;
   background-color: transparent;
}

.Form--rateInput input:focus {
    outline: none;
}



.Form--mortgageType {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Form--mortgageTypeRepayment, .Form--mortgageTypeInterestOnly {
    display: flex;
    border: 1px solid var(--Slate700);
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    gap: 10px;
}

.Form--calculateRepayments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px;
    width: 50%;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    background-color: var(--Lime);
    color: var(--Slate900);
    gap: 5px;
    cursor: pointer;
}

.Form--calculateRepayments img {
    width: 20px;
}